button {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: #83e6c0;
  color: #1a1f1d;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: #aaf1d6;
}

.main-container {
  border: 1px solid black;
  width: 20%;
  margin: auto;
  border-radius: 10px;
  background: #170909;
}
.input-container {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
