button {
    width: 14%;
    border: 1px solid #76c0ae;
    border-radius: 0.25rem;
    background-color: #83e6c0;
    color: #1a1f1d;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
  }
  
  button:hover {
    background-color: #aaf1d6;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  .table thead th {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #b5d2c8;
  }
  
  .table th,
  .table td {
    border: 1px solid #b5d2c8;
    padding: 12px;
  }
  
  .table tbody tr:hover {
    background-color: #b5d2c8;
    color: black;
  }
  
  .removeButton{
    width: 100%;
  }
  