<div>
  <h2>Doctor's List</h2>
  <div>
    <button (click)="addDoctor()">Add Doctor</button>
  </div>
  @if(showAddDoctorForm)
  {
    <app-add-doctor-form (close)="closeModalHandler()"/>
  }

  <div>
    <table class="table">
      <thead>
        <th>Doctor's Name</th>
        <th>Doctor's Specialization</th>
        <th>Doctor's Experience</th>
        <th>Doctor's Fee</th>
        <th>Doctor's Availability</th>
        <th>Actions</th>
      </thead>
      <tbody>
        @for (doctor of doctors; track doctor.id) {
        <tr>
          <td>{{ doctor.name }}</td>
          <td>{{ doctor.specialization }}</td>
          <td>{{ doctor.experience }}</td>
          <td>{{ doctor.fee |currency : "₹" }}</td>
          <td>{{ doctor.availability }}</td>
          <td><button class="removeButton" (click)="removeDoctor(doctor.id)">Remove</button></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
