<div>
  <div class="intro">
    <article>
      <p>
        Welcome to the HashedIn Healthcare Management App, a comprehensive
        solution designed to streamline healthcare administration for
        organizations. Our app is specifically tailored for healthcare
        administrators, providing powerful tools to manage employee information,
        schedules, and operational tasks efficiently. With a user-friendly
        interface and robust security features, administrators can easily
        oversee the entire healthcare workforce, monitor compliance, and
        optimize resource allocation. Embrace the future of healthcare
        management with our innovative platform, ensuring seamless integration
        of technology into your administrative processes for improved
        productivity and better organizational outcomes.
      </p>
    </article>
  </div>
  <div class="home-container">
    <div class="person-card" routerLink="/doctor">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYpZUtZivjWF0p-P1TUtHeXrc0hVW284j0y3GMGS5zS9PueMw-MzUR4cD3Rg&s"
        alt="doctor-logo"
      />
      <h2>Doctors</h2>
      <p>Click to go to the Doctors page!</p>
    </div>
    <div class="person-card" routerLink="/patient">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpd4mJRIUwqgE8D_Z2znANEbtiz4GhI4M8NQ&s"
        alt="patient-logo"
      />
      <h2>Patients</h2>
      <p>Click to check the list of Patients Page!</p>
    </div>
  </div>
</div>
